
.text {
  font-family: Helvetica, Arial, sans-serif;
  /* font-size: 12px */
  font-size: 1rem;
}

.textLarge {
  /* font-size: 24px */
  font-size: 2rem;
}

.textXLarge {
  /* font-size: 24px */
  font-size: 3rem;
}

.textSmall {
  /* font-size: 6px */
  font-size: 0.5rem;
}
